@using bwms_core_domain.ResidentsModels;
@using bwms_core_domain.SystemModels

@model WastePickupSchedule

<!-- Modal -->
<div class="modal fade" id="shedule-modal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <form class="modal-content" asp-action="CreateSchedule" asp-controller="Schedule" method="post" data-ajax="true" data-ajax-begin="createScheduleBegin" data-ajax-complete="createScheduleComplete">

            <div class="modal-header">
                <h5 class="modal-title" id="shedule-modal-title">Waste pickup schedule</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col mb-3">
                        @Html.LabelFor(model => model.ScheduledDate, new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.ScheduledDate, new { @class = "form-control", id = "scheduled-date", @placeholder = "Scheduled Date" })
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-3">
                        @Html.LabelFor(model => model.Address, new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", id = "address", @placeholder = "Address" })
                    </div>
                </div>

                <div class="row g-2">
                    <div class="col mb-0">
                        @Html.LabelFor(model => model.WasteTypeEnum, new { @class = "form-label" })
                        @Html.DropDownListFor(model => model.WasteTypeEnum,new SelectList(Enum.GetValues(typeof(WasteTypeEnum))), "- Select Waste Type -", new { @class = "form-control" })
                    </div>
                    <div class="col mb-0">
                        @Html.LabelFor(model => model.EstimatedVolume, new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.EstimatedVolume, new { @class = "form-control", id = "estimated-volume", @placeholder = "Estimated Volume" })
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-primary">Schedule</button>
            </div>

        </form>
    </div>
</div>