@using bwms_core_domain.ResidentsModels
@model IEnumerable<WastePickupSchedule>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">

    <div class="row mb-4">
        <div class="col-6">
            <h4 class="fw-bold py-3"><span class="text-muted fw-light">Residents Portal /</span> Waste Collection</h4>
        </div>
        <div class="col-6 text-end">
            <button type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#shedule-modal">
                Create new shedule
            </button>
        </div>
    </div>

    <div class="row">

        <!--left card-->
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <h5 class="card-header">Schedule</h5>
                        <div class="table-responsive text-nowrap">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.ScheduledDate)</th>
                                        <th>@Html.DisplayNameFor(model => model.WasteTypeEnum)</th>
                                        <th>@Html.DisplayNameFor(model => model.PickupStatusEnum)</th>
                                        <th>@Html.DisplayNameFor(model => model.Address)</th>
                                        <th>@Html.DisplayNameFor(model => model.EstimatedVolume)</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    @foreach (var schedule in Model)
                                    {
                                        <tr>
                                            <td>@schedule.ScheduledDate</td>
                                            <td>@schedule.WasteTypeEnum</td>
                                            @if(schedule.PickupStatusEnum == 0)
                                            {
                                                <td><span class="badge bg-label-warning">Pending</span></td>
                                            }
                                            else{
                                                <td><span class="badge bg-label-success">Collected</span></td>
                                            }
                                            <td>@schedule.Address</td>
                                            <td>@schedule.EstimatedVolume</td>
                                            <td>
                                                <div class="dropdown">
                                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                        <i class="bx bx-dots-vertical-rounded"></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Update Schedule</a>
                                                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Cancel</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- / Content -->

<div id="shedule-modal-container" class="">
</div>

@section Scripts {

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>

    <script>

        $(document).ready(function () {

            $.ajax({
                url: '@Url.Action("SheduleModal", "Schedule")',
                type: 'GET',
                success: function (data) {

                    $('#shedule-modal-container').html(data);
                    loadDatePicker();

                },
                error: function (xhr, status, error) {
                    console.log("Error: " + error);
                }
            });

        });

        function loadDatePicker(){
            $("#scheduled-date").datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true
            });
        }

        var createScheduleBegin = function () {
        };

        var createScheduleComplete = function (xhr, status) {


            location.reload();
        }
    </script>


}
