@using bwms_core_domain.ResidentsModels
@model IEnumerable<Payment>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">

    <div class="row mb-4">
        <div class="col-6">
            <h4 class="fw-bold py-3"><span class="text-muted fw-light">Residents Portal /</span> Payments</h4>
        </div>
    </div>

    <div class="row">

        <!--left card-->
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="row">
                            <h5 class="card-header">Your Payments</h5>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive text-nowrap">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>@Html.DisplayNameFor(model => model.PaymentNumber)</th>
                                                <th>@Html.DisplayNameFor(model => model.Month)</th>
                                                <th>@Html.DisplayNameFor(model => model.Amount)</th>
                                                <th>@Html.DisplayNameFor(model => model.Discount)</th>
                                                <th>@Html.DisplayNameFor(model => model.TotalPayable)</th>
                                                <th>@Html.DisplayNameFor(model => model.PaymentStatus)</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-border-bottom-0">

                                            @foreach(var payment in Model)
                                            {
                                                <tr>
                                                    <td>@payment.PaymentNumber</td>
                                                    <td>@payment.Month</td>
                                                    <td>@payment.Amount</td>
                                                    <td>@payment.Discount</td>
                                                    <td>@payment.TotalPayable</td>
                                                    @if (payment.PaymentStatus.Equals("Paid"))
                                                    {
                                                        <td><span class="badge bg-label-success">@payment.PaymentStatus</span></td>
                                                    }else{
                                                        <td><span class="badge bg-label-danger">@payment.PaymentStatus</span></td>
                                                    }
                                                    <td>
                                                        <div class="dropdown">
                                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                                <i class="bx bx-dots-vertical-rounded"></i>
                                                            </button>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" asp-action="Checkout" asp-controller="Payment" asp-route-paymentId="@payment.PaymentId">
                                                                    <i class="bx bx-credit-card me-1"></i>
                                                                    Pay
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- / Content -->